<div class="ui horizontal segments" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="ui inverted segment">
  <h2>

    {{station.station}} <em data-emoji=":round_pushpin:" class="small"></em>
  </h2>
  <p>
    Lat: {{station.latitude}} </br>
    Long: {{station.longitude}}
  </p>

</div>

  <div class="ui segment">
    <h2>Weather</h2>
  </div>

  <div class="ui inverted segment">
    <h2>Temperature</h2>
    {{stationsummary.latestReading.temperature}} C </br>
    {{stationsummary.fahrenheit}} F </br>
    Max: {{stationsummary.maxTemp}} C </br>
    Min: {{stationsummary.minTemp}} C
  </div>

  <div class="ui segment">
    <h2>Wind</h2>
    {{stationsummary.beaufort}} bft </br>
    {{stationsummary.windDirectionCompass}} </br>
    Feels like: {{stationsummary.windChill}} C <br>
    Max: {{stationsummary.maxWindSpeed}} <br>
    Min: {{stationsummary.minWindSpeed}}


  </div>

  <div class="ui inverted segment">
    <h2>Pressure</h2>
    {{stationsummary.latestReading.pressure}} hpa </br>
    Max: {{stationsummary.maxPressure}} </br>
    Min: {{stationsummary.minPressure}}
  </div>
</div>
