{{> menu id="dashboard"}}

{{#each stations}}


  <section class="ui segment">
      <h2 class="ui header">
        {{station}}
      </h2>

      {{> stationsummary}}
      <a href="/station/{{id}}"><button class="ui icon button"><i class="folder icon"></i></button></a>
    <a href="/station/{{id}}/deletestation/"><button class="ui icon red button"><i class="trash icon"></i></button></a>
  </section>

{{/each}}

<div id="map" style="height: 360px;">
<script>
  var map = L.map('map').setView([51.505, -0.09], 4);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);

  {{#each stations}}
  var marker = L.marker([{{latitude}}, {{longitude}}]).addTo(map);
  {{/each}}
</script>
</div>


{{> addstation}}




